.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #283b95, #17b2c3);
}

li {
  list-style-type: none;
  font-size: 22px;
}

.hidden {
  display: none;
}
